<div class=body>
  <div class="container is-widescreen" class="conteudo">
    <div class="columns is-centered is-vcentered ">
      <div class="box">

        <div class="title">
          <h1>Gerador de Senhas</h1>
        </div>

        <div class="block" class="column">
          <label class="label" class="alinhar_input">Tamanho da senha</label>
          <div>
            <input #evento (input)="getInput(evento.value)" type="text" class="input is-primary is-normal">
          </div>
        </div>

        <div class="block" class="column">
          <input (change)="getNumbers()" type="checkbox">
          <label class="checkbox" class="space">Números</label>


        </div>

        <div class="block" class="column">
          <input (change)="getLetters()" type="checkbox">
          <label class="checkbox" class="space">Letras</label>


        </div>


        <div class="block" class="column">
          <input (change)="getSymbols()" type="checkbox">
          <label class="checkbox" class="space">Simbolos</label>


        </div>

        <div class="block" class="column">

          <button [disabled]="!(lenght && (numbers || symbols || letters))" (click)="click()"
            class="button **is-large is-success is-rounded is-focused**">Gerar Senha!</button>

        </div>

        <div class="block" *ngIf="password" class="column">
          <label class="label">Sua Senha</label>
          <input [value]="password" type="text" class="input is-success is-normal">
        </div>

      </div>

    </div>
  </div>
</div>